/**
 * Fonts 
 */
$opensans: 'Open Sans', sans-serif;

/**
 * Colors
 */
$blue: #0096F2;
$darkBlue: rgba(0, 42, 128, .8);
$linkColor: #006DA3;
$black: #1D2335;
$white: #ffffff;
$green: #00C853;
$red: #F2291F;
$gray: #677687;
$lightGray: #F2F2F2;